*{
    padding:0px;
    margin:0px;
}
body{
    background-color: rgb(221, 221, 221);
}

.texts{
    background-color:white;
    height:100vh;
}

#chat{
    height:50%;
}

#videoplayer{
    width:100%;
    height:100%;
    text-align: center;
} 

.texts{
        width:107%;
        margin: 0 auto;
}     
#vpdiv{
        width:60%;              /*横幅いっぱいにwidthを指定*/
        padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
        height:0px;              /*高さはpaddingで指定するためheightは0に*/
        position: relative;
}

#youtube_player{
    width:97%;              /*横幅いっぱいにwidthを指定*/
    padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
    height:0px;              /*高さはpaddingで指定するためheightは0に*/
    position: relative;
}